@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    max-height: 100%;
    height: 100%;
    color: #000;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* HEADERR */

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.dropdown__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    padding: 10px 0;
}

.dropdown__footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    padding: 10px 0;
}

.nav-logo {
    font-size: 2rem;
    font-weight: 600;
}

.dropdown__btn {
    display: none;
}

.nav {
    width: 70%;
}

.nav__footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    justify-content: space-between;
    font-weight: 600;
}

.drp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drp-btn a {
    padding-right: 5px;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.btn {
    padding: 5px 13px;
}

.primary-btn {
    border: 1px solid transparent;
    background-color: #000;
    color: #fff;
}

.primary-btn:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.secondary-btn {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.secondary-btn:hover {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.hero__img__container {
    display: flex;
    justify-content: center;
}

.hero__img__container img {
    width: 100%;
}

.hero__heading {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    flex-wrap: wrap;
    padding: 30px;
    /* height: 250px; */
}

.midheading__title {
    width: 40%;
}

.midheading__title span {
    font-weight: 600;
    font-size: 2.2rem;
    max-width: 40%;
}

.heading__desc {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desc__text {
    font-size: .9rem;
    line-height: 1.3rem;
}

.desc__signup {
    padding: 10px 0;
}

.desc__signup input[type="email"] {
    padding: 7px 0;
    width: 50%;
}

.desc__signup input[type="email"],
 ::placeholder {
    font-size: .9rem;
}

.desc__terms {
    font-size: .7rem;
    padding: 5px 0;
    /* text-align: center; */
}

.desc__terms a {
    text-decoration: underline;
}


/* SHORT HEADING */

.short-headings {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    width: 100%;
}

.short-headings__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.short-heading {
    display: flex;
}

.short-heading__icon {
    width: 20%;
    font-size: 2rem;
}

.short-heading__img {
    width: 45%;
    height: 100%;
}

.short-heading__img img {
    width: 600px;
    height: 400px;
}

.short-heading__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-heading__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    font-size: .9rem;
}

.short-heading-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.short-heading__text a:hover {
    color: rgb(134, 134, 134);
}


/* NEWS */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog__title {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.blog__title p {
    font-weight: 600;
    font-size: .9rem;
}

.blog__title .blog__title__text {
    font-size: 2rem;
    padding: 15px 0;
}

.blog__title .blog__desc {
    font-weight: normal;
}

.blog__news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.news__card__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}

.news__card__desc p {
    font-size: .9rem;
}

.news__card__desc span {
    font-weight: 600;
    font-size: .8rem;
}

.news__card__desc .card-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.news__card__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author__img {
    padding-right: 10px;
}

.author__img img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.author__desc {}

.author-name {
    font-weight: 600;
}

.view-all {
    display: flex;
    justify-content: flex-end;
}


/* FOOTER */

footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: 120px;
}

.footer__socials_network {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.footer__socials_network i {
    font-size: 1.2rem;
}

.footer__socials_network a:hover {
    color: rgb(134, 134, 134);
}

.line {
    border-top: 1px solid black;
    height: 2px;
    max-width: 100%;
    padding: 0;
}

.Policity {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Policity {
    padding: 40px 20px;
}

.Policity a {
    text-decoration: underline;
}


/* MEDIA QUERIESS */

@media (max-width: 800px) {
    .wrapper {
        padding: 10px;
    }
    .nav {
        width: 100%;
    }
    .dropdown__btn {
        display: initial;
        font-size: 20px;
        cursor: pointer;
        color: #000;
        padding: 10px;
        margin: 0%;
        background: rgb(134, 134, 134);
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
    }
    .dropdown {
        text-align: center;
        position: relative;
        display: flex;
        text-align: center;
    }
    .dropdown__content {
        display: none;
        top: 35px;
        background-color: rgb(134, 134, 134);
        opacity: 90%;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
        margin: 0;
        padding: 0;
        z-index: 1;
        position: fixed;
        /* background-color: var(--navi-grey); */
    }
    .dropdown__content li a {
        color: white;
        padding: 12px 30px;
        display: block;
    }
    .dropdown__content li a:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    .dropdown:hover .dropdown__content {
        display: block;
    }
    .dropdown:hover .dropdown__content ul {
        display: block;
    }
    .dropdown__content .logo {
        display: none;
    }
    .hero__heading {
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
    }
    .midheading__title {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .heading__desc {
        width: 100%;
    }
    .desc__signup {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    .desc__terms {
        text-align: center;
    }
    .short-headings {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .short-headings__container {
        width: 100%;
    }
    .short-heading {
        padding: 20px 0;
        width: 80%;
        margin: 0 auto;
    }
    .short-heading__img {
        width: 100%;
        margin: 0 auto;
    }
    .short-heading__img img {
        width: 100%;
        height: 100%;
    }
    .short-heading__icon {
        padding-right: 10px;
    }
    /* BLOG MEDIA QUERIES */
    .blog__news {
        grid-template-columns: 1fr;
    }
    .blog__news__card {
        padding: 30px 0;
    }
    /* FOOTER MEDIA QUERIES */
    .footer__socials_network {
        width: 30%;
    }
    .footer__socials_network i {
        font-size: 1.2rem;
        padding: 2px 0;
    }
}

.nav__footer {
    display: none;
}

.Policity a {
    padding: 0 10px;
    font-size: .9rem;
}

.news__card__author {}


}
@media (min-width: 1000px) {
    .nav {
        width: 50%;
    }
}